@import "./variables.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
        font-size: 1.75em;
        font-weight: 400;
        margin-bottom: 30px;
        text-align: center;
    }

    &__itemsLayout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        align-items: center;
    }

    &__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__card {
            display: flex;
            margin: 30px;
            width: 20rem;
            height: 25rem;
            background: #f3f3f5;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
        }
    }
}